@font-face {
    font-family: lcd;
    src: url(subwt.ttf);
}

body {
    margin: 0px;
    /* font-family: lcd; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 20, 20);
    color: rgb(240, 240, 240);
    letter-spacing: -2px;
}

p {
    margin: 0px;
}

.frame {
    width: 1216px;
}

.container {
    width: 1200px;
    height: 480px;
    padding: 8px;
    background-color: rgb(0, 41, 131);
}

.upper, .lower {
    width: 1200px;
    height: 240px;
}

.upper {
    display: flex;
}

.lower {
    font-size: 48px;
    display: grid;
    grid-template-rows: 100px 10px 50px 20px 50px 10px;
    grid-template-columns: 14% 8% 18% 40% 20%;
}

.platform {
    width: 250px;
    font-size: 128px;
}

.destination {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.annotations {
    margin-bottom: 16px;
    margin-right: 24px;
    padding: 6px;
}

.time-and-train {
    text-align: end;
}

.depature-time {
    font-size: 68px;
}

.train-number {
    font-size: 36px;
}

.stops {
    font-size: 36px;
}

.final-stop {
    font-size: 72px;
}

.folgezuege {
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    grid-column-start:1; 
    grid-column-end:6; 
    grid-row-start:1; 
    grid-row-end:2; 
} 

.l2 {
    grid-row: 3 / 4;
}

.l3 {
    grid-row: 5 / 6;
}

.box {
    display: flex;
    align-items: center;
}

.annotation {
    color: rgb(0, 41, 131);
    justify-content: center;
    font-size: 32px;
}

.bg-w {
    background-color: rgb(240, 240, 240);
}

.bar {
    height: 20px;
    background-color: gold;
}

.form {
    display: inline-block;
    margin: 32px;
    padding: 40px;
    border-radius: 8px;
    background-color: rgb(35, 35, 35);
}

.i-text {
    background-color: rgb(20, 20, 20);
    border: 6px solid rgb(30, 30, 30);
    border-radius: 12px;
    color: rgb(120, 120, 120);
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 12px 16px 12px 16px;
}

.i-ds100 {
    width: 160px;
    margin-right: 30px;
}

.i-platform {
    width: 200px;
    margin-right: 30px;
}

.btn {
    background-color: rgb(29, 212, 69);
    border: 6px solid rgb(48, 143, 68);
    border-radius: 12px;
    color: white;
    font-size: 32px;
    padding: 12px 16px 12px 16px;
}

.lower-form {
    margin-top: 30px;
    letter-spacing: 2px;
    color: rgb(120, 120, 120);
}

.lower-form label {
    margin-right: 30px;
}
