@font-face {
    font-family: lcd;
    src: url(subwt.ttf);
}

body {
    margin: 0vw;
    /* font-family: lcd; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 20, 20);
    color: rgb(240, 240, 240);
    letter-spacing: -0.1vw;
}

p {
    margin: 0vw;
}

.frame {
    width: 101.333vw;
}

.container {
    width: 100vw;
    height: 40vw;
    padding: 0.667vw;
    background-color: rgb(0, 41, 131);
}

.upper, .lower {
    width: 100vw;
    height: 20vw;
}

.upper {
    display: flex;
}

.lower {
    font-size: 4vw;
    display: grid;
    grid-template-rows: 8.333vw 0.833vw 4.167vw 1.667vw 4.167vw 4.167vw;
    grid-template-columns: 14% 8% 18% 40% 20%;
}

.platform {
    width: 20.833vw;
    font-size: 10.667vw;
}

.destination {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.annotations {
    margin-bottom: 1.333vw;
    margin-right: 2vw;
    padding: 0.5vw;
}

.time-and-train {
    text-align: end;
    padding-right: 1vw;
}

.depature-time {
    font-size: 5.667vw;
}

.train-number {
    font-size: 3vw;
}

.stops {
    font-size: 3vw;
}

.final-stop {
    font-size: 6vw;
}

.folgezuege {
    font-size: 2vw;
    display: flex;
    align-items: flex-end;
    grid-column-start:1; 
    grid-column-end:6; 
    grid-row-start:1; 
    grid-row-end:2; 
} 

.l2 {
    grid-row: 3 / 4;
}

.l3 {
    grid-row: 5 / 6;
}

.box {
    display: flex;
    align-items: center;
}

.annotation {
    color: rgb(0, 41, 131);
    justify-content: center;
    font-size: 2.667vw;
}

.bg-w {
    background-color: rgb(240, 240, 240);
}

.bar {
    height: 1.667vw;
    background-color: gold;
}

.form {
    display: inline-block;
    margin: 2.667vw;
    padding: 3.333vw;
    border-radius: 0.667vw;
    background-color: rgb(35, 35, 35);
}

.i-text {
    background-color: rgb(20, 20, 20);
    border: 0.5vw solid rgb(30, 30, 30);
    border-radius: 1vw;
    color: rgb(120, 120, 120);
    font-size: 2.667vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    padding: 1vw 1.333vw 1vw 1.333vw;
}

.i-ds100 {
    width: 13.333vw;
    margin-right: 2.5vw;
}

.i-platform {
    width: 16.667vw;
    margin-right: 2.5vw;
}

.btn {
    background-color: rgb(29, 212, 69);
    border: 0.5vw solid rgb(48, 143, 68);
    border-radius: 1vw;
    color: white;
    font-size: 2.667vw;
    padding: 1vw 1.333vw 1vw 1.333vw;
}

.lower-form {
    margin-top: 2.5vw;
    letter-spacing: 0.167vw;
    color: rgb(120, 120, 120);
}

.lower-form label {
    margin-right: 2.5vw;
}
